.custom-label {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.required-star {
    color: rgba(254, 37, 37, 1);
}

.custom-input {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    vertical-align: middle;
    background-color: rgba(245, 245, 245, 1);
    border: 1px solid rgba(208, 213, 221, 1);
    height: 44px;
}
.custom-textarea {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-line;
}
.custom-btn{
    background-color: rgba(253, 242, 242, 1);
    border: 2px solid rgba(171, 31, 36, 1);
    border-radius: 8px;
    color: rgba(171, 31, 36, 1);
    font-family: Roboto;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
}
.custom-btn:hover {
    background-color: rgba(171, 31, 36, 1);
    color: rgba(255, 255, 255, 1);
}
.btn-cancel {
    border: 1px solid rgba(228, 228, 231, 1);
    padding: 13px 20px;
    border-radius: 6px;
    color: rgba(24, 24, 27, 1);
    height: 44px;
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    background-color: white;
    transition: all 0.3s ease;
}

.btn-cancel:hover {
    background-color: rgb(230, 206, 206);
}

.btn-save {
    padding: 13px 20px;
    border-radius: 6px;
    height: 44px;
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(171, 31, 36, 1);
    color: white;
    font-size: 17px;
    border: none;
    transition: all 0.3s ease;
}

.btn-save:hover {
    background-color: rgb(154, 39, 42); /* hơi tối hơn một chút khi hover */
    color: white;
}
.form-label {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(52, 64, 84, 1);
}