<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="UTF-8">
    <title>Technology Management</title>
    <link rel="stylesheet" href="">
</head>

<body>
<!-- Content -->
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold">Technology</h4>
        <a href="/auth/logout" class="btn btn-danger btn-sm">Đăng xuất</a>
    </div>

    <p>Chào mừng bạn đến trang quản lý công nghệ!</p>
</div>
</body>
</html>
